---
import { ViewTransitions } from 'astro:transitions';

// Constants
import { PAGE_TITLES } from '@app/constants';

type Props = {
  title?: string;
};

const { title = PAGE_TITLES.HOME } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta
      name='description'
      content='Amad Furniture is one ecommerce site from Envato system, this site serves furniture products.'
    />
    <meta
      property='og:description'
      content='Amad Furniture is one ecommerce site from Envato system, this site serves furniture products.'
    />
    <meta property='og:image:width' content='1200' /><meta
      property='og:image:height'
      content='628'
    />
    <meta
      property='og:title'
      content='Envato Market - Manage users and transactions on every purchase'
    />
    <meta
      property='og:url'
      content='https://landing-page-envato.vercel.app/'
    /><meta name='theme-color' content='rgb(251, 183, 16)' />
    <meta
      property='og:image'
      content='https://landing-page-envato.vercel.app/assets/preview.png'
    />
    <link rel='shortcut icon' href='/icons/favicon.svg' type='image/x-icon' />
    <title>{title}</title>

    <ViewTransitions />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class='dark:bg-bgDarkTheme dark:text-white'
    ><slot />
    <script defer>
      const colorThemeKey = 'color-theme';
      const darkClass = 'dark';
      const lightClass = 'light';
      const hiddenClass = 'hidden';
      const isUsingDarkMode =
        localStorage.getItem(colorThemeKey) === darkClass ||
        (!localStorage.getItem(colorThemeKey) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches);
      const themeToggleDarkIcon = document.getElementById('dark-icon');
      const themeToggleLightIcon = document.getElementById('light-icon');
      const themeToggleBtn = document.getElementById('switch-theme');
      const documentElementClassList = document.documentElement.classList;
      const themeToggleLightIconClassList = themeToggleLightIcon.classList;
      const themeToggleDarkIconClassList = themeToggleDarkIcon.classList;

      // Develop switch theme color
      if (isUsingDarkMode) {
        documentElementClassList.add(darkClass);
        themeToggleLightIconClassList.remove(hiddenClass);
      } else {
        documentElementClassList.remove(darkClass);
        themeToggleDarkIconClassList.remove(hiddenClass);
      }

      // Change the icons inside the button based on previous settings
      themeToggleBtn.addEventListener('click', function () {
        const colorTheme = localStorage.getItem(colorThemeKey);
        // toggle icons inside button
        themeToggleDarkIconClassList.toggle(hiddenClass);
        themeToggleLightIconClassList.toggle(hiddenClass);

        // if set via local storage previously
        if (colorTheme) {
          if (colorTheme === lightClass) {
            documentElementClassList.add(darkClass);
            localStorage.setItem(colorThemeKey, darkClass);
          } else {
            documentElementClassList.remove(darkClass);
            localStorage.setItem(colorThemeKey, lightClass);
          }

          // if NOT set via local storage previously
        } else {
          if (documentElementClassList.contains(darkClass)) {
            documentElementClassList.remove(darkClass);
            localStorage.setItem(colorThemeKey, lightClass);
          } else {
            documentElementClassList.add(darkClass);
            localStorage.setItem(colorThemeKey, darkClass);
          }
        }
      });
    </script>
  </body>
</html>
