:root {
  --dataBg: #f9f9f9;
  --linkTag: #2550aa;
}
h3,
h4 {
  text-align: center;
}

.data-processing {
  background-color: var(--dataBg);
}

.style-ol > ol {
  list-style-type: decimal;
  margin: 20px 0 30px;
}

.style-ol > ol li,
p {
  margin-top: 10px;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: var(--linkTag);
  text-decoration: none;
}

table {
  margin-top: 40px;
}

@media (min-width: 768px) {
  h3,
  h4 {
    font-size: 18px;
  }
}
