:root {
  --dataBg: #f9f9f9;
  --linkTag: #2550aa;
  --border: #ebebeb;
}
h3,
h4 {
  text-align: center;
}

.list-content > ol {
  list-style-type: decimal;
  margin: 20px 0 30px;
}

.list-content > ol li,
p {
  margin-top: 10px;
}

.list-content ul {
  margin: 20px 0 30px;
}

table {
  margin: 40px 0;
  overflow-y: auto;
  width: 375px;
  display: block;
  overflow-x: auto;
}

table > tbody tr {
  border-bottom: 1px solid var(--border);
}

table > tbody > tr > td {
  padding: 25px 50px 25px 0;
}

@media (min-width: 500px) {
  table {
    width: 100%;
  }
}

@media (min-width: 768px) {
  h3,
  h4 {
    font-size: 18px;
  }
}
