---
// Components
import { MainLayout } from '@app/layouts';
import { Checkout as CheckoutPage } from '@app/components';

// Utils
import { getCart } from '@app/services';

export const prerender = false;

const total: number = (await getCart()).reduce(
  (result, item) => result + item.amount,
  0,
);
---

<MainLayout>
  <main class='p-4 md:py-[100px] nearXl:px-10'>
    <CheckoutPage client:visible total={total} />
  </main>
</MainLayout>
