---
import { MainLayout } from '@app/layouts';
// import * as Terms from './content/terms-conditions.md';

// Components
import Heading from '@app/components/Heading/index.astro';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<MainLayout>
  <section class='grid grid-12 text-center'>
    <Heading>Terms & Conditions</Heading>
    <p class='text-justify'></p>
    <slot />
  </section>
</MainLayout>
