---
import { MainLayout } from '@app/layouts';

// Components
import Heading from '@app/components/Heading/index.astro';

// Style
import '@app/styles/markdown.css';

const styleTitle =
  'text-center mt-20 mb-[65px] text-[28px] md:text-[32px] lg:text-[40px] lg:mt-[50px] dark:text-white';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<MainLayout>
  <section class='py-[65px]'>
    <div class='grid grid-12 px-6 mx-4 2xl:mx-auto max-w-[1200px]'>
      <div class='list-content text-sm md:text-base'>
        <slot />
      </div>
    </div>
  </section>
</MainLayout>
