---
import { MainLayout } from '@app/layouts';

// Components
import Heading from '@app/components/Heading/index.astro';

// Style
import '@app/styles/markdown.css';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<MainLayout>
  <Heading
    className='text-center mt-20 mb-[65px] lg:mt-[50px] dark:text-white'
    text={frontmatter.title}
  />
  <section class='py-[65px] dark:!bg-bgDarkTheme'>
    <div class='px-6 mx-4 2xl:mx-auto max-w-[1200px]'>
      <div class='list-content text-sm md:text-base'>
        <slot />
      </div>
    </div>
  </section>
</MainLayout>
