---
import { MainLayout } from '@app/layouts';

// Components
import Heading from '@app/components/Heading/index.astro';

// Style
import '@app/styles/markdown.css';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<MainLayout>
  <section>
    <div class='px-6 mx-4 lg:mx-auto max-w-[1200px]'>
      <Heading
        className='text-center mt-20 mb-[65px] lg:mt-[50px] dark:text-white'
        text={frontmatter.title}
      />
      <div class='list-content text-sm md:text-base lg:py-[65px]'>
        <slot />
      </div>
    </div>
  </section>
</MainLayout>
