---
import { MainLayout } from '@app/layouts';

// Components
import Heading from '@app/components/Heading/index.astro';

// Style
import '@app/styles/markdown.css';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;

const styleListol = `!list-decimal`;
---

<MainLayout>
  <section class='grid grid-12 px-6'>
    <Heading className='text-center mt-20 mb-[65px] lg:mt-[50px] '
      >{frontmatter.title}</Heading
    >
    <div class='style-ol text-sm'>
      <slot />
    </div>
  </section>
</MainLayout>
